html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,menu,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
article,aside,figure,footer,header,hgroup,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
table{font-size:inherit;font:100%}
select,input,textarea{font:99% sans-serif}
pre,code,kbd,samp{font-family:monospace,sans-serif}
body,select,input,textarea{color:#444}
h1,h2,h3,h4,h5,h6{font-weight:700;text-rendering:optimizeLegibility}
ul{margin-left:30px}
ol{margin-left:30px;list-style-type:decimal}
small{font-size:85%}
strong,th{font-weight:700}
td,td img{vertical-align:top}
sub{vertical-align:sub;font-size:smaller}
sup{vertical-align:super;font-size:smaller}
pre{padding:15px;white-space:pre;white-space:pre-wrap;white-space:pre-line;word-wrap:break-word}
input[type=radio]{vertical-align:text-bottom}
input[type=checkbox]{vertical-align:bottom;*vertical-align:baseline}
.ie6 input{vertical-align:text-bottom}
label,input[type=button],input[type=submit],button{cursor:pointer}
a:link{-webkit-tap-highlight-color:#ff5e99}
html{overflow-y:scroll}
button{width:auto;overflow:visible}
.ie7 img{-ms-interpolation-mode:bicubic}
.ir{display:block;text-indent:-999em;overflow:hidden;background-repeat:no-repeat}
.hidden{display:none}
.visuallyhidden{position:absolute!important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px)}
.invisible{visibility:hidden}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}
* html .clearfix{height:1%}
.clearfix{display:block}
@media screen and (max-device-width:480px){html{-webkit-text-size-adjust:none;-ms-text-size-adjust:none}}
html,.lib-serif,.wf-loading .lib-serif,.wf-inactive .lib-serif,.wf-active .lib-serif{font-family:TiinaPro-Normal,Georgia,"Times New Roman",serif;color:#555}
.lib-serif b,.lib-serif strong{font-family:TiinaPro-Bold,Georgia,"Times New Roman",serif;font-weight:400}
.lib-serif i,.lib-serif em,.lib-serif blockquote{font-family:TiinaPro-NormalItalic,Georgia,"Times New Roman",serif;font-style:normal}
.miso-font,.wf-loading .miso-font,.wf-inactive .miso-font,.wf-active .miso-font,.main-content h2,.main-content h3,.main-content h4{font-family:SoleilBasic-Book,Arial,courier,sans-serif;color:#555}
#main{font-size:86%}
html{background-color:#fcfcfa}
#container{padding-top:0}
.zentr{margin:0 auto;max-width:1000px;min-width:320px}
ul,li,.zero{margin:0;padding:0;border:0}
ul.clean{list-style:none}
.hidden{display:none}
h1,h2,h3,h4,h5,h6{font-weight:400}
h1{font-size:220%}
h2{font-size:200%}
h3{font-size:180%;margin:.2em 0 .3em}
.trueblack{color:#000}
.largetype{font-size:170%;line-height:1.2em}
.block{padding:1px 15px}
.greybg{background:#eaeaea}
a:hover,a:active{outline:0}
a,a:active,a:visited{color:#d51818}
a:hover{color:#b31717}
.unstyled,a.unstyled:active,a.unstyled:visited{text-decoration:none;color:#555}
.unstyled:hover{text-decoration:none;color:#555}
a h3,a .h3link{text-decoration:none;color:#555}
h2.h3link,h3.h3link{font-size:140%;margin-top:.5em}
a:hover .h3link::after{content:' >>';font-size:70%;margin:6px 0 0 5px;position:absolute}
.diaphane img{-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease}
.diaphane:hover img{opacity:1}
.leftfloat{float:left}
.rightfloat{float:right}
.largeblock{width:66%}
.link-list{line-height:1.4em;padding:0}
.link-list li{list-style:none;list-style-type:none}
.link-list a{margin:2px 0}
.link-list a{color:#333;text-decoration:none}
.link-list a:hover{color:#000;background:#EAEAEA}
.link-list .dblock{float:left;width:100%;position:relative}
.link-list .capital,.link-list .date{position:absolute;top:0;left:.5em}
.link-list .u-line{display:block;padding-left:4em;padding-right:5px}
a:hover .u-line{text-decoration:underline}
.dblock{display:block}
.small{font-size:86%}
.capital{font-variant:small-caps;text-transform:uppercase}
.main-content ul{padding-left:15px;padding-left:1.3em}
.main-content ol li,.main-content ul li{margin-top:4px;margin-bottom:4px}
.main-content b,.main-content strong{color:#333}
::-moz-selection{background:#6c6c6c;color:#fff;text-shadow:none}
::selection{color:#fff;text-shadow:none;background-color:#6c6c6c}
pre{background:#fff;border:1px solid #ccc}
#top-header{text-transform:lowercase;position:relative;box-shadow:0 0 10px #acacac;top:0;left:0;width:100%;z-index:10;background-color:#e6e6e6;background-color:#f1f1f1}
#top-header h1{font-weight:400;padding:.8em 12px .5em 15px;float:left;display:block;font-size:100%}
#top-header h1 a,h3 a{text-decoration:none;color:#000}
#top-header nav{padding:.8em 0 0;margin:0 0 0 130px;display:block;position:relative;vertical-align:bottom}
#menu-main li{float:left;margin:0 10px;position:relative}
#menu-main li li{display:none}
#menu-main a{text-decoration:none;color:#000;-webkit-transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease}
#menu-main a:hover,#menu-main .current-menu-item a{color:#b31717}
#menu-main a:active{color:#b31717}
.left-block{position:relative;float:left;width:60%;width:100%}
.right-block{width:40%;width:100%;float:right;clear:both;border-top:2px solid #666;padding-top:1em;margin-top:4em}
.right-block img{float:left;max-width:74px;width:20%;min-width:25px;height:auto;margin:0 6px 6px 0}
#gallery{margin-bottom:20px}
#thumbs{margin-bottom:20px;margin-top:-.8em}
.full-block{width:100%;margin:0;position:relative}
.header-imagery{margin-bottom:10px}
.meta-inform{color:#555}
.meta-inform li{font-size:110%;list-style:none;list-style-type:none}
#main header{position:relative;width:100%}
.mainframe{margin:10px;border:0 solid #a7a7a7;padding:15px 15px 10px}
.main-title{line-height:1.2em}
.main-title{position:relative;color:#555;margin-top:0;margin-left:0;padding:20px 5px 15px 0;display:block}
.header-main-imageXX{overflow:hidden;max-height:300px;width:100%;background:#ccc}
.header-main-image img{width:100%;height:auto;display:block}
#main article .main-content ul,#main article .main-content ol,#main article .main-content table,#main article .main-content p{font-size:110%;clear:left}
#main article .main-content ul ul,#main article .main-content ul ol,#main article .main-content ol ul{font-size:100%}
.main-content img{max-width:100%;height:auto}
.wp-caption{max-width:100%}
div.wp-caption.alignnone{width:100%!important}
.wp-caption img{display:block;max-width:100%;height:auto}
.wp-caption-text{background:#eaeaea;padding:5px 5px 5px 8px;margin:0 0 12px}
#main .main-content iframe{width:100%}
article p{margin:.8em 0}
.post-meta{margin:.8em 0;margin-top:1.5em}
.post-meta ul,.post-meta nav,.post-meta p{padding-left:20px;padding-right:20px;font-size:120%;color:#555}
.prev-next-link{margin:.6em 0}
.mainframe blockquote{font-size:110%;line-height:1.4;color:#333;padding:1em 1.4em;background-color:#f1f1f1;border-left:13px solid #d3d3d3;margin-left:-.8em}
blockquote p{margin:0}
.main-content h2,.main-content h3,.main-content h4{font-size:140%;padding:.8em 0 .2em;border-bottom:2px solid #666;margin-bottom:.5em}
.wp-caption img,.main-content p img,.main-content p img.framed{background:#ddd;border:1px solid #777;padding:5px;border-radius:3px;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease}
.wp-caption a:hover img,.main-content a:hover img,.main-content a:hover img.framed{background-color:#bbb;border-color:#444}
.main-content p img.alignleft{padding:4px;margin-right:.7em;float:left}
.wp-caption img{margin-bottom:7px}
.main-content p img.clean{border:0;padding:0;border-radius:0}
#main .main-content .mirosubs-widget{width:100%!important}
#front-intro{position:relative;margin-bottom:10px}
.introtext strong{font-weight:400;font-size:160%}
.introtext p{max-width:17em}
.toptext p{margin-top:0;padding-top:0}
.bottomtext{font-size:90%;line-height:1.1em}
.bottomtext strong{font-size:160%}
#portrait{overflow:hidden;position:absolute;display:inline;clear:none;width:33%;width:32%;height:100%;top:0;left:0;background:#707070}
#portrait img{width:100%;min-width:280px}
#index-news{margin:20px;font-size:116%}
#index-news ul,#index-news li{list-style:none;display:inline}
#index-news ul{margin:0;padding:0}
.triade{position:relative;overflow:hidden;margin-top:15px}
.triade-first{margin-top:0}
.triade-first h1{margin-top:-5px;padding-top:5px;padding-bottom:3px}
.triade-item{clear:none;border:0 solid #333;width:32%;overflow:hidden}
.triade-item img{width:100%;height:auto;display:block}
.triade .spacer{width:2%;height:1px}
.triade .spacer:last-child{display:none}
.h3grey{background:#EAEAEA;padding:5px 5px 5px 8px;font-size:180%;margin-bottom:12px}
.page-listing .post{padding-top:0}
.page-listing .main-title{padding-top:0}
.list-item{width:25%;float:left;margin-right:35px;margin-top:5px;margin-bottom:10px}
.clearleft{clear:left}
.list-item-title{margin-bottom:10px}
.list-item-title a{text-decoration:none;color:#000;font-weight:400}
.list-item img{max-width:100%;height:auto}
footer.URL{margin:.8em 0}
.archive .mainframe{padding-top:0;padding-bottom:20px}
.archive .post-title{margin-top:15px;margin-bottom:2px}
.archive h3{font-size:140%}
.archive .pagination{width:100%}
.pagination-top{margin-bottom:1.5em;float:left}
.pagination-bottom{margin-top:1.5em}
.greyframe{border:1px solid #aaa;padding:8px;background:#eee;border-radius:6px}
.single-large-image img{width:100%;max-width:100%;height:auto;display:block}
.video-player object{max-width:100%}
.video-player video{max-width:100%;height:auto}
.gallery{width:100%;display:block;border:0 solid green;float:left;margin-bottom:1em!important}
.gallery-caption{display:none}
.gallery-item{float:left;display:block;padding:4px;margin:4px;border:2px solid #aaa;width:auto!important}
.gallery-item:hover{border-color:#777}
.gallery-item img{display:block;-webkit-transition:opacity .2s ease;-moz-transition:opacity .2s ease;-o-transition:opacity .2s ease;-ms-transition:opacity .2s ease;transition:opacity .2s ease}
.gallery-item:hover img{opacity:.5}
ul.thumbs li{float:left;padding:0;margin:.5em;margin-top:0;margin-left:0;list-style:none}
ul.thumbs li:hover{opacity:.5}
.header-imagery .left-block{width:100%}
.header-imagery .right-block{width:100%;float:left;margin-top:10px}
.header-imagery .right-block-inner{padding-left:0}
.link-u a{text-decoration:none;color:#000;padding-bottom:2px;border-bottom:1px solid}
.comments-list,#respond{border:0 solid #333;margin-top:15px;padding:0}
.comments-list{margin-left:10px}
.comments-list h2{line-height:1em;padding:0 0 10px 10px}
.commentlist{margin-left:10px;list-style:none}
.commentlist p{margin:5px 0;padding-left:0;font-size:110%}
.commentlist li{clear:left}
.commentlist article{padding:10px 10px 2px}
.commentlist .odd{background:#eaeaea}
.comments-list time{display:block;padding:0;margin:0}
.comments-list .avatar{padding:0;margin:0 10px 0 0;margin-right:10px;max-height:48px;width:auto}
.comments-list time a{text-decoration:none}
div.commentavatar{float:left;padding:0 10px 10px 0}
div.commentavatar img{width:40px;height:40px}
.kommentar p{padding-left:0;padding-right:0;font-size:100%}
#comments{clear:left;float:left;display:inline;width:508px;padding:5px 0;margin:10px 0 20px 20px}
#commentform{margin:0 22px 0 10px;padding-bottom:1px;border:0 dashed #888;position:relative}
.kommentar h1{font-size:230%;font-weight:400;padding:5px 0 0 10px;margin:0}
#maincontent div.comment{width:455px;float:left;display:inline;background:#fff;padding:10px;margin:10px 0 10px 16px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}
div.commenttext{width:400px;float:left;position:relative;clear:none;font-size:.9em}
div.commenttext h4{float:left;font-weight:700;padding:0 0 6px 6px;margin:0}
div.commenttext div.date{float:left;position:relative}
div.commenttext div.date{font-size:.8em;padding:4px 0 0 12px}
#maincontent div.commenttext p{clear:left;margin:0;padding:0 0 0 6px;text-indent:0}
div.commentmeta{visibility:hidden}
.com-submit{clear:left}
#maincontent .com-submit form p{margin:0;padding:4px 0 4px 5px;font-size:.8em}
.com-submit input{margin:4px 0 0;clear:left;display:block;border:1px solid #777;padding:3px;font-size:120%;font-family:'Courier New',Consolas,Courier,sans-serif;max-width:100%}
.com-submit textarea{width:100%;margin:0 auto;padding:3px 5px}
.com-submit input[type=button],.com-submit input[type=submit],.com-submit input.button{border:1px solid #888;padding:6px 8px;background:#eee;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;color:#444;font-size:160%;background:#d1d1d1;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#a1a1a1');background:-webkit-gradient(linear,left top,left bottom,from(#ebebeb),to(#a1a1a1));background:-moz-linear-gradient(top,#ebebeb,#a1a1a1);text-shadow:0 1px 1px rgba(255,255,255,.8)}
.com-submit input[type=button]:hover,.com-submit input[type=submit]:hover,.com-submit input.button:hover{background:#666;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#999', endColorstr='#555');background:-webkit-gradient(linear,left top,left bottom,from(#999),to(#555));background:-moz-linear-gradient(top,#999,#555);border-color:#444;color:#eee;text-shadow:0 1px 1px #000;cursor:pointer}
#subscribe-reloaded{float:left}
.comment-subscription-form{margin:5px 0 10px 5px}
.comment-subscription-form input{float:left;display:block;margin:0 7px 0 0}
.comment-subscription-form label{padding:1px 0 0;display:block}
div.wpcf7 img.ajax-loader{width:16px;height:16px}
div.script{background:#eee;border:1px dashed #aaa;margin:20px 14pxpx 14px 0;padding:0 14px;white-space:wrap}
.main-content table td{padding:.3em;border:1px solid #ccc}
.yep{background-color:#ccfdcc;text-align:center;color:#006a00}
.nope{background-color:#ffcdc0;text-align:center;color:#7b0a0a}
#sidebar{border:0 dashed green}
.main-footer{padding:0 25px;margin-top:2em}
.footer-inside{border-top:2px solid #d0d0d0;border-bottom:2px solid #d0d0d0;padding:.4em 0;color:#a0a0a0}
.footer-inside a{color:#c06767}
.footer-inside a:hover{color:#b31717}
img#wpstats{visibility:hidden}
@media only screen and (min-width:30px){.triade-item,.list-item{width:100%;margin-right:0}
.list-item:nth-child(odd){clear:left}}
@media only screen and (min-width:400px){#main{font-size:92%}}
@media only screen and (min-width:600px){h1{font-size:240%}
h1.main-title{line-height:1.2}
#main{font-size:96%}
.triade-item,.list-item{width:42%;margin-right:20px}
.triade-item{width:32%;margin-right:0}
.mainframe{max-width:40em;margin-left:auto;margin-right:auto}
.main-footer{padding:0 15px}
.zentr{max-width:40em}
.list-item:nth-child(odd){clear:left}}
@media only screen and (min-width:768px){#container{padding-top:2.2em}
#top-header{position:fixed;box-shadow:0 0 18px #8d8d8d}
.admin-bar #top-header{top:20px}
.triade-item,.list-item{width:31%;margin-right:10px}
.triade-item{width:32%;margin-right:0}
.triade-inside article{margin:.5em 0}
.triade-inside article:nth-child(3n+4){clear:left;border:0}
.list-item:nth-child(odd){clear:none}
.list-item:nth-child(3n+4){clear:left}
.header-imagery .left-block{width:60%}
.header-imagery .right-block{width:40%;float:right;margin-top:0}
.header-imagery .right-block-inner{padding-left:20px}
#main{font-size:100%}}
@media only screen and (min-width:800px){.mainframe .main-title,.main-content h2,.page-listing .superwide,.current-work{margin-left:-15%;width:130%}
.main-content h2{font-size:180%;margin-bottom:1em}
.main-content h3{margin-left:-7%;margin-bottom:1em;width:114%}
#main .gallery{margin-left:-7%;width:114%}
#main iframe{margin-left:-15%;width:130%!important;max-width:130%!important}
.alignnone img,.alignnone .wp-caption-text,.single-large-image,.main-content p img.alignnone{margin-left:-7%;width:114%;max-width:114%;margin-top:.3em}
.alignnone .wp-caption-text{margin-top:.7em}
.main-footer{padding:0 15px;margin-left:-7%;width:114%}
.footer-inside{padding:.8em 6%}}
@media only screen and (min-width:1000px){h1{font-size:280%}
.single-large-image{margin-left:-20%;width:140%;max-width:140%}
.alignnone img,.alignnone .wp-caption-text,.single-large-image,.main-content p img.alignnone{margin-left:-15%;width:130%;max-width:130%}
#main .gallery{margin-left:-15%;width:130%}
.page-listing .main-title,.page-listing .superwide,.current-work{margin-left:-20%;width:140%}}
@media only screen and (min-width:1260px){h1{font-size:310%}
.page-listing .main-title,.page-listing .superwide,.current-work{margin-left:-40%;width:190%}}
@media print{*{background:transparent!important;color:#444!important;text-shadow:none!important;box-shadow:none!important}
a,a:visited{color:#444!important;text-decoration:underline}
a:after{content:" (" attr(href) ")"}
abbr[title]:after{content:" (" attr(title) ")"}
.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}
pre,blockquote{border:1px solid #999;page-break-inside:avoid}
thead{display:table-header-group}
tr,img{page-break-inside:avoid}
img{max-width:100%!important}
@page{margin:.5cm}
p,h2,h3{orphans:3;widows:3}
h2,h3{page-break-after:avoid}}