[submodule "js/libs/swipebox"]
	path = js/libs/swipebox
	url = https://github.com/brutaldesign/swipebox
[submodule "inc/wp-gallery-shortcode"]
	path = inc/wp-gallery-shortcode
	url = https://gist.github.com/7108833.git
